
/* *{
    outline: 2px solid red;
} */
body {
    overflow: hidden;
    color: #D4A017;
    background-color: #FAF8F3;
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.about-parent-section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255,255,255);
    border: solid black 1px;
}.hours {
    justify-self: center;
}.about-first-div {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    border: 0.2px solid black;
    background-color: aliceblue;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(41,42,43);
}.about-first-div a {
    text-decoration: none;
}

.about-first-div a:hover {
    color: blue;
    text-shadow: #35158c 1px solid;
}.about-list {
    display: flex;
    flex-wrap: wrap;
    list-style: outside;
}.pizza\,boom\,fatair {
    color: #2A1E17;
}.about-contacts-section {
    display: block;
    flex-wrap: wrap;
    font-size: 80%;
    overflow-wrap: break-word;
    min-width: 0;
}.header {
    display: flex;
    flex-wrap: wrap;
    color: #2A1E17;
    margin-top: 0;
    width: auto;
    font-weight: bolder;
    height: 4rem;
    align-self: center;
}.footer_div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 0.1 solid rgba(0,0,0,.745);
    background-color: #E8DCCB;
    width: 100%;
    justify-content: center;
    font-weight: bolder;
}
@media (max-width: 1400px) {
    body {
        overflow-y: auto;
    }

    .about-first-div {
        width: 80%;
        font-size: 20px;
        overflow-wrap: break-word;
    }

    .header {
        font-size: 3rem;
    }

    .footer_div {
        height: 2%;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    body{
        overflow-y: scroll;
    }

    .about-parent-section{
        align-content: center;
        align-items: center;
    }

    .about-first-div{
        width: 80%;
        font-size: 12px;
    }

    .about-list{
        line-height: 170%;
    }

    .header{
        align-content: center;
    }

    .footer_div{
        font-size: 1rem;
    }
}
@media (max-width: 500px) {
    .footer_div{
        font-size: .7rem;
    }
}
@media (min-width: 1400px) {
    body{
        overflow-y: auto;
    }
    .about-first-div {
        width: 85%;
        font-size: 25px;
    }

    .header {
        font-size: 4.7rem;
    }

    .footer_div {
        height: 4%;
        font-size: 20px;
    }
}