body{
    overflow: hidden;
    overflow-y: auto;
    color: #D4A017;
    background-color: #FAF8F3;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
}

.parent-section{
    display:flex;
    justify-content:space-between;
    width:100%;
    background-color:antiquewhite;
    border-radius:3px;
    height:6rem;
    padding:0;
}

.header{
    display:flex;
    flex-wrap:wrap;
    color:#2A1E17;
    margin-top:0;
    font-weight:bolder;
}

nav{
    display:flex;
    flex-wrap:wrap;
}

nav a{
    display:flex;
    text-decoration:none;
    color:#2A1E17;
    align-self:center;
}

.header-img{
    display:block;
    width:100%;
    height:auto;
}

.carousel-section{
    width:100%;
    background:#f5f2eb;
    height:350px;
    border-radius:5px;
}

.img-container{
    display:flex;
    gap:80px;
    background:#E8DCCB;
    overflow:hidden;
    position:relative;
    justify-self:center;
    border-radius:10px;
}

.track{
    display:flex;
    width:max-content;
    animation:slide 30s linear infinite;
}

.track:hover{
    animation-play-state:paused;
}

.slide-image{
    width:350px;
    height:200px;
    animation:move 15s linear infinite;
    border-radius:20px;
}

.second-text{
    display:flex;
    align-self:center;
    justify-self:center;
}

.order-section{
    position:relative;
}

.order-section img{
    display:block;
    width:80vw;
    justify-self:center;
    margin-bottom:50px;
}

.footer_div{
    display:flex;
    flex-wrap:wrap;
    background:#E8DCCB;
    width:100%;
    justify-content:center;
    font-weight:bolder;
    box-sizing:border-box;
}
/* *{
    outline: 2px solid red;
} */
 @media (max-width: 1400px) {
.header{
    width:20px;
    height:20vh;
    font-size:2.5rem;
    margin-left:10px;
}

nav{
    gap:6vw;
    width:fit-content;
    font-size:2.4rem;
    margin-right:12rem;
}

.img-container{
    width:90%;
    height:240px;
}

.img-container img{
    height:240px;
}

.track{
    gap:200px;
}

.second-text{
    font-size:35px;
}

.footer_div{
    height:2%;
    font-size:1.2rem;
}
 }
@media (max-width: 1000px) {
    .header{
    font-size:2rem;
}

nav{
    gap:4vw;
    font-size:2.2rem;
    margin-right:4rem;
}
}
@media (max-width: 540px) {
    .header{
    width:20px;
    height:7vh;
    font-size:1.7rem;
    margin-left:0;
    align-self:flex-end;
}

nav{
    max-width:fit-content;
    margin-right:.5rem;
    font-size:22px;
}

.img-container{
    height:230px;
}

.img-container img{
    height:230px;
}

.second-text{
    font-size:23px;
}

.footer_div{
    font-size:.7rem;
}
}
@media (min-width: 1400px) {
    body{
    overflow-y:auto;
}

.parent-section{
    height:6.5rem;
}

.header{
    width:800px;
    height:auto;
    font-size:3rem;
    align-self:baseline;
    margin-left:15px;
}

nav{
    width:50%;
    gap:6vw;
    font-size:3rem;
}

.img-container{
    width:80%;
    height:250px;
}

.track{
    gap:280px;
}

.track img{
    height:250px;
}

.second-text{
    font-size:35px;
}

.footer_div{
    height:2%;
    font-size:1.5rem;
}
}
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}